*{
	margin: 0;
	padding: 0;
}

.layout-positioner{
	width:40%;
	margin:0 auto;
}

.layout-positioner_margin{
	margin-top: 100px;
	margin-bottom: 10px;
}

.layout-positioner_text{
	font-family: Arial, Helvetica, sans-serif;
}

.portrait {
	display: inline-block;
}

 .info_position{
 	display: inline-block;
 	vertical-align: bottom;
 	width:40%;
 	margin-left: 10px;

}

.info__full-name_text{
	font-size: 22px;
	font-weight: bold; 
}

.contact{
	width: auto;
	display: inline-block;
}

.contact_margin{
	margin-left: 10px;
}

.contact_text{
	list-style:none;
	vertical-align: bottom;
	text-align: left;
}

.contant_border {
	border-top: 1px solid black;
	border-collapse: collapse;
}

.tablerow__header_text{
	font-size: 20px;
	text-align: left;
}

.tablerow__header_border{
	border-bottom: 1px solid;
	width: 50%;
}

.tablerow__maincontant_padding{
	padding: 40px 0 40px 0;
	border-bottom: 1px solid;
}

